extends layout

block content

    .row
        .col-lg-12.col-sm-12

            h1.title User Database
            hr
            
            table.dbtable
                tr
                    th ID
                    th Username
                    th Email
                    th Password
                    th Age 
                    th Description

                each user in users
                    tr   
                        td #{user._id}
                        td #{user.userName}
                        td #{user.email}
                        td #{user.password}
                        td #{user.age}
                        td #{user.description}

    // end container